@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Tags */
.react {
  border: 0.1rem solid rgb(97, 218, 251);
}

.react:hover {
  background: rgba(97, 218, 251, 0.25);
}

.node {
  border: 0.1rem solid rgb(131, 205, 41);
}

.node:hover {
  background: rgba(131, 205, 41, 0.25);
}

.mongodb {
  border: 0.1rem solid rgb(67, 153, 52);
}

.mongodb:hover {
  background: rgba(67, 153, 52, 0.25);
}

.redux {
  border: 0.1rem solid rgb(118, 74, 188);
}

.redux:hover {
  background: rgba(118, 74, 188, 0.25);
}

.razorpay {
  border: 0.1rem solid rgb(82, 143, 240);
}

.razorpay:hover {
  background: rgba(82, 143, 240, 0.25);
}

.material-ui {
  border: 0.1rem solid rgb(25, 118, 210);
}

.material-ui:hover {
  background: rgba(25, 118, 210, 0.25);
}

.bulma {
  border: 0.1rem solid rgb(0, 209, 178);
}

.bulma:hover {
  background: rgb(0, 209, 178, 0.25);
}

.next {
  border: 2px solid rgb(0, 112, 243);
}

.next:hover {
  background: rgba(0, 112, 243, 0.25);
}

.tailwind {
  border: 2px solid rgb(6, 182, 212);
}

.tailwind:hover {
  background: rgba(6, 182, 212, 0.25);
}

.react-query {
  border: 2px solid rgb(255, 65, 84);
}

.react-query:hover {
  background: rgba(255, 65, 84, 0.25);
}

.css {
  border: 2px solid rgb(182, 53, 21);
}

.css:hover {
  background: rgba(92, 19, 6, 0.25);
}

.vuejs {
  border: 0.1rem solid rgb(5, 163, 102);
}

.vuejs:hover {
  background: rgba(0, 133, 71, 0.25);
}

.html {
  border: 0.1rem solid rgb(0, 44, 189);
}

.html:hover {
  background: rgba(0, 20, 136, 0.25);
}

.vanillajs {
  border: 0.1rem solid rgb(188, 209, 0);
}

.vanillajs:hover {
  background: rgba(107, 109, 2, 0.25);
}

.javascript {
  border: 0.1rem solid rgb(209, 188, 0);
}

.javascript:hover {
  background: rgba(107, 105, 0, 0.25);
}

.bootstrap5 {
  border: 0.1rem solid rgb(0, 98, 209);
}

.bootstrap5:hover {
  background: rgba(0, 54, 134, 0.25);
}

.quasar {
  border: 0.1rem solid rgb(0, 115, 209);
}

.quasar:hover {
  background: rgba(0, 69, 134, 0.25);
}

.sveltejs {
  border: 0.1rem solid rgb(209, 77, 0);
}

.sveltejs:hover {
  background: rgba(110, 35, 0, 0.25);
}

.vite {
  border: 0.1rem solid rgb(167, 0, 139);
}

.vite:hover {
  background: rgba(105, 1, 62, 0.25);
}

.pinia {
  border: 0.1rem solid rgb(209, 206, 0);
}

.pinia:hover {
  background: rgba(151, 149, 0, 0.25);
}

.vuetify {
  border: 0.1rem solid rgb(0, 209, 188);
}

.vuetify:hover {
  background: rgba(0, 134, 120, 0.25);
}